@use '@/styles/variables';
.hero {
  margin-top: 4.875em;
  margin-bottom: 12.8125em;

  &__container {
    display: flex;
    gap: 1.1875em;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3.75em;
    padding-top: 5.125em;
    padding-bottom: 7em;
    width: 28.3125em;
    height: 24.125em;
  }

  &__title {
    font-weight: 700;
    font-size: variables.$font-size-heading;
    color: variables.$accent-color;
  }

  &__text {
    font-size: variables.$font-size-paragraph;
    color: variables.$font-color;
    font-weight: 400;
  }
}
