@use '@/styles/variables';
@use '@/styles/typography';

.hero {
  position: relative;
  background-image: url('@/assets/images/HeroBackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 105vh;
  display: flex;
  align-items: center;

  &__content {
    width: 28.3125em;
    margin-left: 2.5em;
    display: flex;
    flex-direction: column;
    gap: 2.28125em;
  }

  &__title {
    @extend .h1;
  }

  &__text {
    @extend .p;
  }
  &__link {
    text-decoration: none;
    color: inherit;
  }
}
