@use '@/styles/variables';
@use '@/styles/typography';

.visionSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-image: url('@/assets/images/Shoe.png');
  background-repeat: no-repeat;
  background-position: left;
  align-items: center;
  justify-content: end;
  background-color: #dcdbd8;
  height: 43.8125em;
  margin-block: 3.125em;

  &__content {
    grid-column: 3;
    align-self: center;
    width: 25.875em;
    display: flex;
    flex-direction: column;
    gap: 1.875em;
    margin-right: 3.9375em;
    margin-left: 3.75em;
  }

  &__heading {
    @extend .h2;
  }
  &__description {
    @extend .p;
  }
}
