@use '@/styles/typography';

.crafterCounter {
  text-align: center;
  margin-block: 3.125em;

  &__title {
    @extend .h2;
    margin-bottom: 0.48em;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5.03125em;
  }
}
