@use './variables.scss';
@use './mixins.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: variables.$font-family;
}
body {
  background: variables.$background-color;
}

/* Typography */
h1 {
  @include mixins.heading-1;
}

h2 {
  @include mixins.heading-2;
}

h3 {
  @include mixins.heading-3;
}

h4 {
  @include mixins.heading-4;
}

p {
  @include mixins.paragraph-text;
}

.text-small {
  @include mixins.small-text;
}
