@use './variables';

@mixin center-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin container {
  @include center-item;
  flex-direction: column;
  width: 100%;
  max-width: 76.25em;
  margin: 0 auto;
  font-family: variables.$font-family;
  position: relative;
  z-index: 1;
}
