@use './variables';

@mixin center-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin container {
  @include center-item;
  flex-direction: column;
  width: 100%;
  max-width: 76.25em;
  margin: 0 auto;
  font-family: variables.$font-family;
  position: relative;
  z-index: 1;
}

@mixin blurred-background($image-path, $blur-amount: 70px) {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url($image-path);
    filter: blur($blur-amount);
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
}
