@import url('https://googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

// colors
$primary-color: #8b5e3c;
$secondary-color: #6b8e23;
$accent-color: #d2691e;
$background-color: #f5f1e6;
$font-color: #2c2c2c;
$ui-color: #c4bbaf;

// typography
$font-size-heading: 2.5rem;
$font-size-paragraph: 2rem;
$font-family: 'Playfair Display, serif';
