@use '@/styles/variables';
@use '@/styles/typography';

.button {
  @extend .cta;
  outline: none;
  border: none;
  border-radius: 0.75em;
  cursor: pointer;
  width: 100%;
  color: variables.$background-color;
  padding-block: 0.9375em;

  &--primary {
    background: variables.$primary-color;
  }

  &--secondary {
    background: variables.$secondary-color;
  }

  &--accent {
    background: variables.$accent-color;
  }
}
