@use '@/styles/variables';

.button {
  padding: 1.03125em 2.65625em;
  font-weight: 700;
  font-size: 1.75rem;
  color: variables.$background-color;
  background: variables.$primary-color;
  outline: none;
  border: none;
  border-radius: 0.75em;
  cursor: pointer;

  &--primary {
    background: variables.$primary-color;
  }

  &--secondary {
    background: variables.$secondary-color;
  }

  &--accent {
    background: variables.$accent-color;
  }
}
