@use '@/styles/variables';

.header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.21875rem 2em;
}

.navigation {
  &__list {
    display: flex;
    gap: 3.75em;
    align-items: center;
    list-style: none;
    cursor: pointer;

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.3125em;
      font-size: 1rem;
      & a {
        text-decoration: none;
        color: variables.$font-color;
      }
    }
  }
}
