@use '@/styles/variables.scss';
.input {
  width: 100%;
  padding: 1.6525em 1.22375em;
  border-radius: 0.9375em;
  border: 0.98px solid variables.$font-color;
  font-size: 1.46875em;
  background: variables.$background-color;

  &:placeholder {
    color: variables.$ui-color;
  }

  &.error {
    border-color: red;
  }

  &__icon {
    margin-right: 1.46875em;
  }
}
