@use '@/styles/mixins.scss';
.loginPage {
  @include mixins.center-item;
  min-height: 97.6vh;
  position: relative;
}
.loginPage::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('@/assets/images/HeroBackground.png');
  filter: blur(70px);
  background-size: cover;
  background-position: center;
}
