@use '@/styles/mixins.scss';

.profilCardsContainer {
  @include mixins.container;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 5px;

  &__image {
    width: 1.078125em;
    height: 1.078125em;
  }
}
